.field {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 80vmin;

  &__cell {
    border-radius: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    border: 2px solid #283e50;
    cursor: pointer;
  }

  &__cell--circle {
    background: rgba($color: #ffffff, $alpha: 0.4) url(../images/circle.svg)
      no-repeat center;
    background-size: 75%;
    background-origin: border-box;
  }

  &__cell--cross {
    background: rgba($color: #ffffff, $alpha: 0.4) url(../images/cross.svg)
      no-repeat center;
    background-size: 75%;
  }

  &__cell:not(:nth-child(10n)) {
    border-right: none;
  }

  &__cell:not(:nth-last-child(-n + 10)) {
    border-bottom: none;
  }

  &__cell:hover,
  &__cell:focus {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }
}
